# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simple-shopping-cart-source/obj/Release/simple-shopping-cart-source.csproj.CoreCompileInputs.cache
simple-shopping-cart-source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/slnx.sqlite
.vs/simple-shopping-cart-source/v15/Server/sqlite3/storage.ide-shm
.vs/simple-shopping-cart-source/v15/.suo
.vs/VSWorkspaceState.json
simple-shopping-cart-source/bin/roslyn/VBCSCompiler.exe.config
simple-shopping-cart-source/bin/roslyn/csi.exe.config
simple-shopping-cart-source/bin/roslyn/csc.rsp
simple-shopping-cart-source/bin/roslyn/Microsoft.Managed.Core.targets
simple-shopping-cart-source/bin/roslyn/Microsoft.CSharp.Core.targets
simple-shopping-cart-source/bin/Newtonsoft.Json.xml
simple-shopping-cart-source/bin/roslyn/csc.exe.config
simple-shopping-cart-source/bin/roslyn/Microsoft.VisualBasic.Core.targets
simple-shopping-cart-source/bin/roslyn/csi.rsp
simple-shopping-cart-source/bin/simple-shopping-cart-source.pdb
simple-shopping-cart-source/bin/simple-shopping-cart-source.dll.config
simple-shopping-cart-source/bin/System.Web.Http.xml
simple-shopping-cart-source/bin/System.Web.Http.WebHost.xml
simple-shopping-cart-source/bin/System.Net.Http.Formatting.xml
simple-shopping-cart-source/obj/Debug/simple-shopping-cart-source.pdb
*.cache
simple-shopping-cart-source/obj/Debug/simple-shopping-cart-source.csproj.FileListAbsolute.txt
simple-shopping-cart-source/obj/Debug/simple-shopping-cart-source.csproj.CopyComplete
simple-shopping-cart-source/bin/roslyn/vbc.rsp
simple-shopping-cart-source/bin/roslyn/vbc.exe.config
*.suo
.vs/simple-shopping-cart-source/v16/Server/sqlite3/db.lock
.vs/simple-shopping-cart-source/v16/Server/sqlite3/storage.ide-wal
.vs/simple-shopping-cart-source/v16/Server/sqlite3/storage.ide-shm
.vs/simple-shopping-cart-source/v16/.suo
.vs/simple-shopping-cart-source/config/applicationhost.config
